# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\YOLO-V4\PyTorch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
